version: '3'
services:
  app:
     image: nest-app
     build:
       context: .
     container_name: nest
     ports:
      - 3100:3100
     depends_on:
      - db
  db:
    image: postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: nest_pos_be
    container_name: psql
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
